{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Jistagram</title>
  <script src="https://kit.fontawesome.com/ca6a0dd669.js"></script>
  <link rel="stylesheet" href=" {% static 'css/style.css' %}">

</head>

<body>

  <div class="login-header">
    <img src="{% static 'images/logo.PNG' %}" alt="">
  </div>
  <div class="email-confirmation">

    <div class="email-confirmation-img">
      <img src="{% static 'images/email-confirmation.svg' %}" alt="">
    </div>
    <div class="email-confirmation-description">
      <h1>Check Your Email</h1>
      <p>We've sent a message to {{email}} with a link to activate your account.
      <h3>Didn't get an email?</h3>
      <p>If you don't see an email from us within a few minutes, a few things could have happened:</p>
      <ul>
        <li>The email is in your spam folder. (Sometimes things get lost in there.) The email address you entered had a
          mistake or typo. (Happens to the best of us.)</li>
        <li>You accidentally gave us another email address. (Usually a work or personal one you meant.)</li>
        <li>We can't deliver the email to this address. (Usually because of corporate firewalls or filtering)</li>
      </ul>
      </p>
    </div>
  </div>

</body>

</html>