{% extends 'base.html' %}

{% block title %}Bookland - Change Password{% endblock %}

{% load widget_tweaks %}
{% block content %}

<div class="details">
  <h1>Change Password</h1>
  <p>Home - Change Password</p>
</div>

<div style="height: 500px;" class="password-reset">
  <div style="height: 400px;" class="inner-password-reset">


    <form method="POST">
      {% csrf_token %}

      <div class="new-password">
        <label for="">New Password</label>
        {% render_field form.new_password1 class="password-reset-input" autocomplete="off" %}
      </div>

      <div class="confirm-new-password">
        <label for="">Confirm New Password*</label>
        {% render_field form.new_password2 class="password-reset-input" autocomplete="off" %}
      </div>

      {% for field in form %}
      {% for error in field.errors %}
      <span style="margin-top: 10px; font-size: 12px;color: rgb(223, 58, 58);">{{ error }}</span>
      {% endfor %}
      {% endfor %}

      <button>Change Password*</button>
    </form>
  </div>

</div>

{% endblock %}