{% extends 'base.html' %}

{% block title %}Bookland - Password Sent{% endblock %}

{% load widget_tweaks %}
{% block content %}

<div class="details">
  <h1>Password Sent</h1>
  <p>Home - Password Sent</p>
</div>

<div class="password-reset">
  <div class="inner-password-reset">
    <h1>Check Your Email</h1>
    <p style="margin-top: 20px;"><i class="fad fa-check-circle"></i>&nbsp; If there is an account associated, you will
      receive an email with a link to reset
      your password.</p>
  </div>

</div>

{% endblock %}