{% extends 'base.html' %}

{% block title %}Bookland - Password Reset{% endblock %}

{% load widget_tweaks %}
{% block content %}

<div class="details">
  <h1>Password Reset</h1>
  <p>Home - Password Reset</p>
</div>

<div class="password-reset">
  <div class="inner-password-reset">
    <p>Please enter the account that you want to reset the password.</p>
    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
      {% render_field field class="password-reset-input" autocomplete="off" placeholder="Please enter your Email" %}

      {% for error in field.errors %}
      <span style="margin-top: 10px; font-size: 12px;color: rgb(223, 58, 58);">{{ error }}</span>
      {% endfor %}

      <button type="submit">Request Password Reset</button>



      {% endfor %}
    </form>
  </div>

</div>

{% endblock %}