{% extends 'base.html' %}

{% block title %}Bookland - Change Password{% endblock %}

{% load static %}
{% load widget_tweaks %}
{% block content %}


<div class="details">
    <h1>Change Password</h1>
    <p>Home - Change Password</p>
</div>
<section>

    <div class="change-password">
        <div class="box">
            <form method="POST">
                {% csrf_token %}
                <div class="info-box">
                    <div class="info ">

                        <div class="info-form ">
                            <label>Old Password</label>

                            {% render_field form.old_password class="form-input" %}

                            {% if form.errors %}
                            <span
                                style="margin-top: 10px; font-size: 12px;color: rgb(223, 58, 58);">{{form.errors.old_password}}</span>
                            {% endif %}
                        </div>
                        <div class="info-form ">
                            <label>New Password</label>

                            {% render_field form.new_password1 class="form-input" %}
                        </div>
                        <div class="info-form ">
                            <label>Confirm New Password</label>

                            {% render_field form.new_password2 class="form-input" %}

                            {% if form.errors %}
                            <span
                                style="margin-top: 10px; font-size: 12px;color: rgb(223, 58, 58);">{{form.errors.new_password1}}</span>
                            <span
                                style="margin-top: 10px; font-size: 12px;color: rgb(223, 58, 58);">{{form.errors.new_password2}}</span>
                            {% endif %}
                        </div>



                        <button class="btn">Change Password</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}